html,body{
    height:100%;
    color: darkgreen;
    font-family: "Orbit", sans-serif;
  }

  aside#left{
    float:left; 
    width:15%; 
    height:70%;
  }
  section{
    float:left;
    width:60%;
    height:70%;
  }
  aside#right{
    float:right;
    width:22%;
    height:70%;
    text-align: center;
  }
  footer{
    clear:both;
  }





  ul.nav {
    list-style: none;
    text-align: center;
    border-top: 1px solid darkgreen;
    border-bottom: 1px solid darkgreen;
    padding: 10px, 0;
    margin-top: 10px, 0px;
    padding: 12px;
}

ul.nav li {
    display: inline;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 3px;
}






#right {
  color: black;
}

#left {
  color: darkgreen;
}

#left li {
  list-style: none;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 5px;
  margin: 10px 0px;
}


#top {
  color: darkgreen;
}

#bottom {
  color: darkgreen;
  text-align: center;
}

#bottom li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 3px;
  text-align: center;
}

a {
  text-decoration-line: none;
}

a:link {
  color: darkgreen;
}

a:visited {
  color: darkgreen;
  text-decoration: none;
}